/*====== Fonts ======*/
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap'); /*cursiva*/

@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');

/* antiguas
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap'); */

/*====== Variables ======*/
@import 'partials/_variables.css';

/*====== Home ======*/
@import 'partials/_home.css';

/*====== Header + NavBar principal ======*/
@import 'partials/_headerNavbar.css';

/*====== Main-Footer ======*/
@import 'partials/_footer.css';