<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Inicio'}) %>
<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<!-- /Header -->

   
	
	<h4 class="titDetalleProd"><a href="/">Inicio</a> / <a href="/">Carrito</a></h4>
	
	<div class="container">
		<div class="row">
			<div class="col-12 col-md-9">
					
					<table>
						<tr>
							<th class="rest"></th>
							<th class="prod">Productos</th>
							<th class="rest">Precio</th>
							<th class="rest">Cantidad</th>
							<th class="rest">Subtotal</th>
							<th class="rest">Eliminar</th>
						</tr>
						<tr>
							<td class="rest"><img src="images/products/vino-toro.jpg" alt=""></td>
							<td class="prod"><a href="#">Nombre de Producto</a></td>
							<td class="rest">$ precio</td>
							<td class="rest"><input type="number" value="1"></td>
							<td class="rest">$ Subtotal</td>
							<td class="rest"><a href=""><i class="fas fa-trash-alt"></i></a></td>
						</tr>
						<tr>
							<td class="rest"><img src="images/products/vino-toro.jpg" alt=""></td>
							<td class="prod"><a href="#">Nombre de Producto</a></td>
							<td class="rest">$ precio</td>
							<td class="rest"><input type="number" value="1"></td>
							<td class="rest">$ Subtotal</td>
							<td class="rest"><a href=""><i class="fas fa-trash-alt"></i></a></td>
						</tr>

					</table>
					
					<div class="botonesCarrito">
					<a href="#" class="botonCarrito">Continuar Comprando</a>
					<a href="#" class="botonCarrito">Limpiar Carrito</a>
					</div>
			</div>

			<div class="col-12 col-md-3">
				<form action="">
					<label for="">Cupon de Descuento</label>
					<input type="text" name="cupon">
					<button type="submit">Aplicar</button>
				</form><br>

				<form action="">
					<div>
					<label for="">Subtotal</label>
					<input type="number" name="cupon" value="2000" disabled>
					</div>
					<div>
					<label for="">Envío</label>
					<input type="text" name="envio">
					<a href="">Calcular</a>
					</div>
					<div>
						<label for="">Total</label>
						<input type="number" value="2000" disabled>
					</div>
					<button type="submit">Finalizar Compra</button>
				</form>	
				
				</div>	
			</div>
		</div>
	</div>

    <br><br><br><br><br><br><br><br><br><br>
	<!-- footer -->
	<%- include('partials/footer') %>
	<!-- /footer -->
</body>	
</html>