<!DOCTYPE html>
<html lang="es">

  <!-- Include Head -->
  <%- include('partials/head', {title: 'Oops!'}) %>

  <body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <!-- /Header -->
    <br><br><br><br><br><br><br><br><br><br>
    <h4>Parece que la página que ingresaste no existe!</h4>
  </body>
</html>