<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('partials/head', {title: 'Oops!'}) %>

<body>
  <!-- Navbar Gral -->
  <%- include('partials/navbarGral') %>
  <!-- /Navbar Gral -->
  <br><br><br><br><br><br><br><br><br><br>
  <h4>Hey! No encontramos esta pagina, parece que no existe. Podes volver al inicio haciendo click <a href="/">aquí</a></h4>
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  <br><br><br><br><br><br><br><br><br><br>
  <%- include('partials/footer') %>
</body>
</html>