<!DOCTYPE html>
<html lang="en">
<!-- Include Head -->
<%- include('partials/head', {title: 'Admin | Editar producto'}) %>
<body>
  <!-- Header -->
  <%- include('partials/headerNavbar') %>
  <!-- /Header -->
  
  <h4 class="titCargaProd">Editar Producto</h4>
  
  <div class="contenedorCarga">
    <form action="" method="post" enctype="multipart/form-data">
      <div class="cargaIzq">
        <section class="cargaImgProd">
          <img src="" alt="" />
        </section>
        <input
        type="file"
        class="form-control-file"
        id="exampleFormControlFile1"
        name="producto"
        required="required"
        />
      </div>
      
      <div class="cargaDer">
        <div class="formCarga required">
          <label for="nombreProducto">Nombre Producto</label>
          <input
          type="text"
          name="nombreProducto"
          class="form-control"
          id="nombreProducto"
          aria-describedby="hola"
          placeholder="Nombre Producto"
          required="required"
          />
        </div>
        
        <div class="formCarga required">
          <label for="anioProducto">Año Producto</label>
          <input
          type="number"
          name="anioProducto"
          class="form-control"
          id="anioProducto"
          aria-describedby="anio"
          placeholder="Año Producto"
          required="required"
          />
        </div>
        <div class="formCarga required">
          <label for="bodegaProducto">Bodega</label>
          <input
          type="text"
          name="bodegaProducto"
          class="form-control"
          id="bodegaProducto"
          aria-describedby="bodega"
          placeholder="Bodega"
          required="required"
          />
        </div>
        <div class="formCarga required">
          <label for="tipoProducto">Tipo Producto</label>
          <!-- /Header 
            <input type="text" name="tipoProducto" class="form-control" id="tipoProducto" aria-describedby="tipo">
          -->
          <select class="form-control" name="tipoProducto" id="tipoProducto">
            <option value="cerveza">Cerveza</option>
            <option value="vino">Vino</option>
            <option value="champagna">Espumante</option>
            <option value="whisky">Whisky</option>
          </select>
        </div>
        <div class="formCarga required">
          <label for="regionProducto">Región</label>
          <input
          type="text"
          name="regionProducto"
          class="form-control"
          id="regionProducto"
          aria-describedby="region"
          placeholder="Región"
          required="required"
          />
        </div>
        <div class="formCarga required">
          <label for="graduacionProducto">Graduación alcoholica</label>
          <input
          type="number"
          name="graduacionProducto"
          class="form-control"
          id="graduacionProducto"
          aria-describedby="graduacion"
          placeholder="Graduación alcoholica"
          required="required"
          />
        </div>
        <div class="formCarga required">
          <label for="precioProducto">Precio</label>
          <input
          type="number"
          name="precioProducto"
          class="form-control"
          id="precioProducto"
          aria-describedby="precio"
          placeholder="Precio"
          required="required"
          />
        </div>
        <div class="formCarga required">
          <label for="descuentoProducto">Descuento</label>
          <input
          type="number"
          name="descuentoProducto"
          class="form-control"
          id="descuentoProducto"
          aria-describedby="descuento"
          placeholder="Descuento"
          required="required"
          />
        </div>
        <div class="formCarga required">
          <label for="stockProducto">Stock</label>
          <input
          type="number"
          name="stockProducto"
          class="form-control"
          id="stockProducto"
          aria-describedby="stock"
          placeholder="Stock"
          required="required"
          />
        </div>
        <div class="formCarga required">
          <label for="descripcionProducto">Descripción</label>
          <input
          type="text"
          name="descripcionProducto"
          class="form-control"
          id="descripcionProducto"
          aria-describedby="descripcion"
          placeholder="Descripción"
          required="required"
          />
        </div>
        <br/>
        <div>
          <button type="submit" class="btn btn-success">Finalizar Edicion</button>
          <button type="submit" class="btn btn-danger">Eliminar producto</button>
        </div>
      </div>
    </form>
  </div>
  <br />
  <!-- footer -->
  <%- include('partials/footer') %>
  <!-- /footer -->
</body>
</html>
