<header class="header">
  <div class="navbar-gral">
    <nav class="navbar"> 
      
      <!-- Dropdown Mobile & Logo-->
      <div class="container-logo">
        <a href="/" class="">
          <img class="logo2" src="/images/Logo1.png" />
        </a>        
        
        <div class="dropdown menu-mobile">
          <a class="btn dropdown-toggle button-menu" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-bars"></i>
          </a>
          <div class="dropdown-menu menu-desplegado" aria-labelledby="dropdownMenuButton">
            <div class="buscador">
              <input type="text" class="input-buscador" placeholder="¿Qué buscas?">
              <button type="submit" class="button-buscador"><i class="fas fa-search"></i></button>
            </div>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Vinos</a>
            <a class="dropdown-item" href="#">Espumantes</a>
            <a class="dropdown-item" href="#">Whiskies</a>
            <a class="dropdown-item" href="#">Promociones</a>
          </div>
        </div>      
      </div> 

      <!-- Tablet & escritorio-->
      <nav class="navegador">
        <ul class="navegador-central">
          <li><a href="#">Vinos</a></li>
          <li><a href="#">Espumantes</a></li>
          <li><a href="#">Whiskies</a></li>
          <li><a href="#">Promociones</a></li>
        </ul>

        <ul class="navegador-derecha">
          <li>
            <a href="#"><i class="fas fa-search"></i></a>
          </li>
          <li>
            <a href="/carrito"><i class="fas fa-shopping-basket"></i></a>
          </li>
          <li class="dropdown">
            <a class="btn btn-sm dropdown-toggle dropdown-toggle-split" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="fas fa-users"></i></a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/users/register"> Registrate</a>
              <a class="dropdown-item" href="/users/login"> Ingresar</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/users/account/<%=(user ? user.id :":id" )%>">Tu cuenta</a>
            </div>
          </li>
          <li>
            <a href="/exit" class=""><i class="fas fa-sign-out-alt"></i></a>
          </li>
          <li>
            <a href="/admin/index"><i class="fas fa-edit"></i></a>
          </li>
        </ul>
      </nav> 
    </nav>
  </div>
</header>