.title-pages {
    display: flex;
    justify-content: flex-start;
    margin-left: 2vw;
}

.title-pages h4 {
    font-size: 18px;
}

.title-pages h4 a:hover{
    text-decoration: none;
    color: var(--light-blue);
}

.cart-detail {
    background-color: whitesmoke;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 grey;
}

.sale-details {
    display: inline-flex;
    justify-content: center;
    margin: 0 auto;
}
.sale-details .formDiscount {
    margin-top: 3vh;
    width: 40%;
    
}
.sale-details .formDiscount form div {    
 
    width: 150%;
 
}
.sale-details .formDiscount form div label{    
    margin-bottom: 2vh;
    width: 100%;
    font-weight: bold;
}
.sale-details .formDiscount form div input {
 width: 100%;
}
/*.sale-details .formDiscount form div button {
    width: 100%;
    background-color: #32971D;
    border-radius: 5px;
    padding: 1px;
    margin-top: 10%;
    margin-left: 1vw;
    text-align: center;
    text-decoration: none; 
}*/
div.botonCarrito button a:hover {
    color: white;
}
.sale-details .formDiscount form div button {
    margin-top: 5%;
    
}


.sale-details .second-form {
    margin-top: 3vh;
    margin-left: 5vw;
    display: inline;
}

.sale-details .second-form div label {
    width: 45%;
    font-weight: bold;
    display: inline-block;
}

.sale-details .second-form div input {
    width: 45%;
    display: inline-block;
    font-weight: bold;
}

/*.sale-details .second-form form button {
    background-color: #32971D;
    border-radius: 5px;
    margin: 10% 25%;
    padding: 5px;    
    text-decoration: none;
}*/



/*---- TR TH ----*/
table tr th.prod {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

table tr th.rest {
    width: 15%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/*---- TR TD ----*/
table tr td.rest {
    width: 15%;
    text-align: center;
}

table tr td.rest img {
    width: 70%;
}

table tr td.rest input {
    width: 40%;
    text-align: center;
}
table tr td.prod a:hover {
    text-decoration: none;
    color: var(--light-blue);
}

/*---- BUTTONS ----*/
div.botonesCarrito {
    display: flex;
    justify-content: flex-end;
}

a.botonCarrito {
    background-color: #32971D;
    height: 40px;
    margin-right: 6px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none; 
    color: white;
    font-weight: bold;
}

/*---- MEDIA QUERIES ----*/
@media (min-width: 768px) and (max-width: 1099px) {
    .title-pages {
        margin-top: 10%;
        margin-left: 2vw;
    }

    .sale-details {
        display: flex;
        margin-top: 5vh;
        width: 95%;
    }

    .sale-details .formDiscount {
        width: 80%;
    }
    
    .sale-details .formDiscount form div {    
 
        width: 100%;
     
    }
    .sale-details .formDiscount form div input {
        width: 90%;
        display: inline-block;
    }

    .sale-details .formDiscount form div button {
        width: 40%;
        margin-left: 25%;
        margin-top: 10%;
        display: inline-block;
    }
        

    .sale-details .second-form form button {
        width: 30%;
    }

    .sale-details .second-form {
        width: 60%;
        justify-content: flex-end;
    }

    .sale-details .second-form div input {
        width: 100%;
    }

    .sale-details .second-form form button {
        margin: 10% 25%;
        width: 50%;    
        padding: 5px;    
    }

}

@media (min-width: 1100px) {

    .title-pages {
        margin-top: 10%;
        margin-left: 2vw;
    }

    .sale-details {
        display: flex;
        margin-top: 5vh;
        width: 95%;
    }

    .sale-details .formDiscount {
        width: 100%;
        margin-top: 10%;
    }
    .sale-details .formDiscount form div {    
 
        width: 80%;
     
    }
    .sale-details .formDiscount form div input {
        display: inline-block;
        width: 80%;
    }

    .sale-details .formDiscount form div button {
        width: 40%;
        margin-left: 20%;
        
    }
        

    .sale-details .second-form form button {
        width: 30%;
    }

    .sale-details .second-form {
        width: 60%;
        justify-content: flex-end;
    }

    .sale-details .second-form div input {
        
    }

    .sale-details .second-form form button {
        margin: 10% 25%;
        width: 50%;    
        padding: 5px;    
    }

}
