

table {
    width: 100%;
}
table tr {
    
}

table tr th.prod {
    width: 30%;
    padding-top: 10px;
    padding-bottom: 10px;
}

table tr th.rest {
    width: 15%;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

table tr td.prod {
    width: 30%;
}
table tr td {
    padding-top: 5px;
}
table tr td.rest {
    width: 15%;
    text-align: center;
}
table tr td.rest img {
    width: 70%;
}
table tr td.rest input {
    width: 40%;
    text-align: center;
}

div.botonesCarrito {
    display: flex;
    justify-content: flex-end;
}
a.botonCarrito {
    margin-top: 10px;
    margin-right: 10px;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    text-decoration: none;
    height: 50px;
    background-color: teal;
}





