.main-footer {
  background-color: var(--fondo-home);
  font-family: var(--base-font-family);
  color: var(--white);
  font-size: 14px;    
  box-shadow: 0px 11px 10px -8px rgba(205, 114, 241, 0.4);
}

.main-footer .container-fluid .row a:hover {
  text-decoration: none;
  color: var(--light-blue);
}

article.footer-data h2 {
  font-size: 20px;  
  margin-top: 3px;
} 

article.footer-data a {
  margin-right: 3px;
  padding: 7px 0px;
}

.main-footer .container-fluid p {
  font-family: var(--cursiva);
  font-size: 20px;
  text-align: center;  
}

article.footer-data a.redes {
  font-size: 20px;
  margin-left: 5px;
  margin-right: 5px;
}


@media (min-width: 768px) and (max-width: 1099px) {
  .main-footer {
    background-color: var(--fondo-home);
    font-family: var(--base-font-family);
    color: var(--white);
    font-size: 15px;    
    box-shadow: 0px 11px 10px -8px rgba(205, 114, 241, 0.4);
  }
  
  .main-footer .container-fluid .row a:hover {
    text-decoration: none;
    color: var(--light-blue);
  }
  
  .main-footer .container-fluid p {
    font-family: var(--cursiva);
    font-size: 22px;
    text-align: center;
    margin-bottom: 0;
  }
  
  footer.main-footer div {
    padding-top: 10px;
  }
  
  article.footer-data {
    align-items: center;
    text-align: center;
  }
  
  article.footer-data h2 {
    font-size: 20px;
  } 
  
  article.footer-data a {
    display: block;
    padding: 7px 0px;
  }

  article.footer-data a.redes {
    display: inline;
    font-size: 25px;
    margin-left: 5px;
    margin-right: 5px;
  }
}


@media (min-width: 1100px) {
  .main-footer {
    background-color: var(--fondo-home);
    font-family: var(--base-font-family);
    color: var(--white);
    font-size: 19px;    
    box-shadow: 0px 11px 10px -8px rgba(205, 114, 241, 0.4);
  }
  
  .main-footer .container-fluid .row a:hover {
    text-decoration: none;
    color: var(--light-blue);
  }
  
  .main-footer .container-fluid p {
    font-family: var(--cursiva);
    font-size: 24px;
    text-align: center;
    margin-bottom: 0;
  }
  
  footer.main-footer div {
    padding-top: 10px;
  }
  
  article.footer-data {
    align-items: center;
    text-align: center;
  }
  
  article.footer-data h2 {
    font-size: 22px;
  } 
  
  article.footer-data a {
    display: block;
    padding: 7px 0px;
  }

  article.footer-data a.redes {
    display: inline;
    font-size: 50px;
    margin-left: 5px;
    margin-right: 5px;
  }
}

