/*====== Header ======*/
.header {
  display: block;
  text-align: center;
  padding: 15px 0;
  background-color: var(--fondo-home);
  width: 100%;
  left: 0;
  top: 0;
  width: 100%;
  position: relative;  
}

.main-banner {
  display: none;
}

.fixed-top {
  position: relative;
  z-index: 100;
}

/*====== Main Navbar ======*/
.navbar {
  padding: 0 0;
}

.btn-toggle-navbar {
  background-color: var(--dark-blue);
  color: #ffffff;
  font-size: 1.5em;
  border: none;
  border-radius: 4px;
  padding: 5px 15px;
  display: block;
  margin: 20px auto 0;
}

.navegador {
  margin-top: 20px;
  display: none;
}

.navegador-central a {
  display: block;
  padding: 5px 0;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--white);
  font-weight: normal;
  font-size: 20px;
}

.navegador-derecha {
  font-size: 20px;
}

.navegador-derecha li a{
  font-size: 18px;
}

/*====== Media-Queries ======*/

@media (max-width: 768px){
  img.logo {
    width: 25%;    
  }
}


@media (min-width: 768px) and (max-width: 1099px) {
  .header {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px;
    box-shadow: 0px 11px 10px -8px rgba(205, 114, 241, 0.4);
  }
  
  .main-banner {
    display: block;
    margin-top: 50px;
  }  
  
  .fixed-top {
    position: fixed;
  }
  
  img.logo {
    width: 40%;    
  }
  
  .btn-toggle-navbar {
    display: none;
  }
  
  .navegador {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .navegador-central {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }

  .navegador-central a { 
    font-size: 15px;
  }

  .navegador-central a:hover {
    color: var(--light-blue);
  }

  .navegador-central li {
    margin-right: 20px;
    padding: 0;
  }
    
  .navegador-derecha {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }  

  .navegador-derecha li {
    display: flex;
    margin-left: 10px;
    padding: 0;
    font-size: 20px;
  }

  .navegador-derecha a:hover {
    color: var(--light-blue);
  }  

  .iconos .container h4 {
    font-size: 15px;
  }
}

@media (min-width: 1100px) {
  .header {
    display: flex;
    justify-content: space-around;
    padding: 0px 0px;
    box-sizing: border-box;
    box-shadow: 0px 11px 10px -8px rgba(205, 114, 241, 0.4);
  }
  
  img.logo {
    width: 55%;
  } 
  
  .main-banner {
    display: block;
    margin-top: 50px;
  }  
  
  .fixed-top {
    position: fixed;
  }
  
  .iconos {
    margin-top: 30px;
    font-size: 40px;
  }
  .iconos .container h4 {
    font-size: 23px;
  }
  
  div.iconos div div {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  i{
    margin-right: 6px;
  }
  
  .btn-toggle-navbar {
    display: none;
  }
    
  .navegador {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }
  
  .navegador-central {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  } 

  .navegador-central a:hover {
    color: var(--light-blue);
  }
  
  .navegador-central li {
    margin-right: 40px;
  }
  
  .navegador-derecha {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }

  .navegador-derecha a:hover {
    color: var(--light-blue);
  }

  .navegador-derecha li {
    margin-left: 15px;
    font-size: 25px;
  }
}