.iniciarSesion{
    margin-top: 150px;

}
.btnLogin{
    margin-bottom: 150px;
    margin-top: 20px;
}

@media (min-width: 768px) {
    form.iniciarSesion div.form-group { 
        width: 50%;
        margin: 0 auto;
        margin-top: 10px;

    }
    
}