.card-margin {
    margin-bottom: 10px;
}

h3.adminProd {
    margin-top: 15vh; 
    text-align: center;
}

div.contenedorAdmin {
    display: flex;
    margin-bottom: 10%;
    justify-content: center;
}


@media (min-width: 768px) and (max-width: 1099px) {
    h3.adminProd {
        margin-top: 20vh;       
    }
    
    div.card {
        width: 280px;
    }

}

@media (min-width: 1100px) {

    h3.adminProd {
        padding-top: 12%;
        margin-bottom: 40px;        
    }

    div.card {
        width: 280px;
    }
}
