:root {
  --yellow: #EAC926; /* var(--yellow)*/
  --white: #CBCBCB; /*  var(--white)*/
  --dark-blue: #03264C; /*  var(--dark-blue)*/
  --light-blue: #84d2f1; /* hover: var(--light-blue)*/  
  --light-gray: #ebebeb; /* var(--light-gray)*/
  --green: #39b54a; /*  var(--green)*/
  --crema: #f3ece5; /*  var(--crema)*/
  --base-font-family: 'Bellota Text', 'Roboto', sans-serif; /*  var(--base-font-family)*/
  --cursiva: 'Cedarville Cursive', serif; /*  var(--cursiva)*/
  --compensados1: #FC6E44; /* var(--compensados1)*/
  --links-navbar: #9b111e; /* var(--links-navbar)*/
  --triada3: #44FC79; /*  var(--triada3)*/
  --footer: #36393B; /*  var(--footer)*/
  --navbar-gral: #69637D; /*  var(--navbar-gral)*/
}