:root {
  --yellow: #EAC926;
  --white: #ffffff;
  --dark-blue: #03264C;
  --light-blue: #84d2f1;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family:'Monstserrat', 'Roboto', Helvetica, sans-serif;
  --compensados1: #FC6E44;
  --compensados2: #8c1b64; /*#44D2FC; anterior*/
  --triada3: #44FC79;
}