:root {
  --yellow: #EAC926;
  --dark-blue: #03264C;
  --light-blue: #1259c3;
  --gray: #666666;
  --light-gray: #ebebeb;
  --green: #39b54a;
  --base-font-family:'Lato', 'Roboto', sans-serif;
  --compensados1: #FC6E44;
  --compensados2: #44D2FC;
  --triada3: #44FC79;
}